/** 
 * main stuff
 */

body {
    /* brandbook */
    --main-blue-color: #0b2c4f;
    --grey-color: #d9d9d9;

    /* background color */
    --background-color: #FFF;

    /* font */
    --font: 'Open Sans', sans-serif;

    font-family: var(--font);
    margin: 0em;
    background-color: var(--background-color);
}

/**
 * Generic
 */
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/**
 * header
 */

header {
    justify-content: center;
    width: 100%;
    background: url('../assets/images/home-page-bg.png') 0 0 no-repeat;
    background-size: cover;
    overflow: hidden;

    display: grid;
}

/**
 * Nav-bar
 */
#home-nav-bar {
    float: right;
    padding: 0em 0em 0 10em;
}

#home-nav-bar ul {
    text-align: center;
    display: flex;
    padding: 0em;
    margin: 0em;
}

#home-nav-bar ul li {
    font-weight: 700;
    padding: 1em 1em;
    margin: 1em;
}

#home-nav-bar ul li a {
    color: white;
}

#signup-button {
    border-radius: 5em;
    border: 3px solid white;
}

#logo-subtitle-container h2 {
    text-shadow: 2px 2px 10px #000000;
    padding: 4em 1em 4em 1em;
    color: white;
}

#logo {
    width: 10em;
}

#logo-section {
    display: flex;
    padding: 1em;
}

#logo-title-container {
    text-align: center;
}

#logo-title-container h1 {
    color: white;
    text-shadow: 2px 2px 10px #000000;
    font-size: 4em;
    padding: 10px;
    margin: 0;
}

#logo-subtitle-container {
    text-align: center;
    align-self: center;
    vertical-align: middle;
    max-width: 100%;
}

#logo-subtitle-container h2 {
    color: white;
    text-shadow: 2px 2px 10px #000000;
    padding: 10px;
    margin: 0;
}

/**
 * house body
 */
.houses-section-container {
    padding: 0em 10em;
    display: grid;
}

.house-article-header {
    display: flex;
    justify-content: space-between;
}

.house-article-header h2 {
    font-weight: normal;
    margin: 1em 0em;
}

.house-article-container {
    display: flex;
    justify-content: space-between;
    padding: 1em 0em;
}

.house-card {
    background: var(--grey-color);
    padding: auto;
}


/**
 * footer
 */
footer {
    width: 100%;
    overflow: hidden;
}

#footer-options-bar {
    background: var(--main-blue-color);
    display: flex;
    justify-content: center;
}

.row-footer-container {
    text-align: left;
    padding: 0em 2em;
}

.row-footer-container h2 {
    color: white;
    border-left: 3px solid white;
    padding: 0px 6px;
    margin: 1em 1em 1em 0em;
}

.footer-nav-bar ul {
    padding: 0em;
}

.footer-nav-bar a {
    color: white;
    font-weight: lighter;
}

.footer-nav-bar ul li {
    padding: 4px;
}

#footer-rights-bar {
    background: black;
    text-align: center;
    padding: 0.5em;
}

#footer-rights-bar p {
    font-weight: lighter;
    color: white;
    margin: 0em;
}
