/** 
 * main stuff
 */
body {
    /* brandbook */
    --main-blue-color: #0b2c4f;
    --grey-color: #d9d9d9;
    --focus-blue-color: #0066a6;

    /* background color */
    --background-color: #FFF;

    /* font */
    --font: 'Open Sans', sans-serif;

    font-family: var(--font);
    margin: 0em;
    background-color: var(--background-color);
}

/**
 * Generic
 */
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h1 {
    color: white;
    text-shadow: 2px 2px 10px #000000;
    font-size: 4em;
    margin: 0em;
    padding: 10px;
}

textarea {
    font-family: inherit;
    font-weight: inherit;
    resize: none;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.logo-shadow {
    border-radius: 50%;
    box-shadow: 10px 10px 2em #000000;
}

.rounded-photo-container {
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.rounded-photo-container > img {
    width: auto;
    height: 100%;
}

.black-rounded-button {
    background-color: transparent;
    color: black;
    font-weight: normal;
    margin: 1em;
    text-align: center;
    padding: 1em;
    border-radius: 5em;
    border: 3px solid black;
}

.black-rounded-button:hover {
    text-decoration: underline;
}

.blue-filled-rounded-button {
    background-color: var(--main-blue-color);
    border: 3px solid var(--main-blue-color);
    color: white;
    font-weight: bolder;
    text-align: center;
    border-radius: 5em;
    padding: 0.8em;
}

.blue-filled-rounded-button:focus {
    outline: none;
    background-color: var(--focus-blue-color);
    border: 3px solid var(--focus-blue-color);
}

.input-form {
    background: transparent;
    border: 3px solid var(--main-blue-color);
    padding: 0.8em;
    border-radius: 5em;
}

.input-form:focus {
    outline: none;
}

/*************************************************/
/******************** Header *********************/
/*************************************************/
#main-header {
    justify-content: center;
    width: 100%;
    background: url('../assets/images/home-page-bg.png') 0 0 no-repeat;
    background-size: cover;
    overflow: hidden;

    display: grid;
}

#alternative-header {
    background: var(--main-blue-color);
    overflow: hidden;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

#alternative-header > a img {
    width: 3em;
}

/**
 * Nav-bar
 */
@media screen and (max-width: 60em) {
    #alternative-header, #main-header {
        align-items: flex-start;
        justify-content: space-around;
    }

    #signup-button {
        border: 0px !important;
    }

    #logo-section {
        flex-wrap: wrap;
    }

    #home-nav-bar .hamburger {
        text-align: right;
        display: block;
        color: white;
        padding: 1em;
    }
  
    #home-nav-bar .hamburger:before {
        content:'\2630';
    }
  
    #home-nav-bar ul {
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    #home-nav-bar ul li a{
        margin: 0;
        padding: 0;
    }
  
    #hamburger:checked + .hamburger + ul li{
        max-height: 3em;
        padding: 1em !important;
        opacity: 1;
    }
  
    #hamburger:checked + .hamburger:before {
        content:'\2715';
    }
  
    #home-nav-bar li {
        max-height: 0;
        padding: 0em 1em !important;
        margin: 0em !important;
        text-align: right;
        opacity: 0;
        transition: all .3s ease-in-out;
    }
}

#hamburger {
    display: none;
}


#home-nav-bar {
    padding: 0em;
}

#home-nav-bar ul {
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 0em;
    margin: 0em;
}

#home-nav-bar ul li {
    display: block;
    font-weight: 700;
    padding: 1em 1em;
    margin: 1em;
    color: white;
}

#home-nav-bar ul li a:hover {
    border-bottom: 2px solid white;
}

#home-nav-bar ul li a {
    color: white;
    transition: 0.5s;
}

#signup-button {
    border-radius: 5em;
    border: 3px solid white;
}

.header-username {
    text-decoration: underline;
}

#logo-subtitle-container > p {
    font-size: 2em;
    text-shadow: 2px 2px 6px black;
    padding: 4em 1em 4em 1em;
    color: white;
    margin: 0;
}

#logo {
    width: 10em;
}

#logo-section {
    display: flex;
    padding: 1em;
    justify-content: center;
}

#logo-title-container {
    text-align: center;
}


#logo-subtitle-container {
    text-align: center;
    align-self: center;
    vertical-align: middle;
    max-width: 100%;
}

/*************************************************/
/******************** Footer *********************/
/*************************************************/
footer {
    width: 100%;
    overflow: hidden;
}

#footer-options-bar {
    background: var(--main-blue-color);
    display: flex;
    justify-content: center;
}

.row-footer-container {
    text-align: left;
    padding: 0em 2em;
}

.row-footer-container h2 {
    color: white;
    border-left: 3px solid white;
    padding: 0px 6px;
    margin: 1em 1em 1em 0em;
}

.footer-nav-bar ul {
    padding: 0em;
}

.footer-nav-bar a {
    color: white;
    font-weight: lighter;
}

.footer-nav-bar ul li {
    padding: 4px;
}

#footer-rights-bar {
    background: black;
    text-align: center;
    padding: 0.5em;
}

#footer-rights-bar p {
    font-weight: lighter;
    color: white;
    margin: 0em;
}

/*************************************************/
/**************** Main/List Page *****************/
/*************************************************/

/**
 * house body
 */
.houses-section-container {
    justify-content: center;
    display: grid;
    margin: 1em 0em;
}

.house-article-header {
    display: flex;
    justify-content: space-between;
}

.house-article-header > h2 {
    font-weight: normal;
    margin: 1em;
}


.house-article-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0em;
    max-width: 1024px;
}

.houses-list-container {
    align-items: start;
    margin: 1em auto;
    max-width: 70em;
    width: 100%;
    grid-template-columns: [start] 30% [line1] 70% [end];
}

@media screen and (max-width: 60em) {
    .houses-list-container {
        grid-template-columns: [start] auto [end];
        row-gap: 2em;
    }
}

.houses-list-container > .house-article-header {
    grid-column: start/end;
}

#house-list-search-bar {
    justify-self: center;
    text-align: center;
    min-width: 16em;
    max-width: 20em;
    width: 90%;
    background: var(--grey-color);
    border-radius: 2em;
    box-shadow: 2px 2px 20px black;
    overflow: hidden;
    padding: 1em 0em;
}

#house-list-search-bar > h3 {
    padding: 4px;
}


#house-list-search-bar > form {
    justify-items: center;
    text-align: center;
    align-items: center;
    display: grid;
    row-gap: 10px;
}

#house-list-search-bar > form > label {
    font-weight: bold;
}

#house-list-search-bar span {
    font-weight: normal;
}

.price-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: var(--main-blue-color);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.price-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 3px 3px 1em black;
    background: white;
    cursor: pointer;
}

.price-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

section.range-slider {
    position: relative;
    width: 200px;
    height: 35px;
    text-align: center;
}

section.range-slider input {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 20px;
    width: 200px;
    outline: none;
    height: 10px;
    margin: 0;
    padding: 0;
}

section.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

section.range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 9px;
}

section.range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
}

section.range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}

section.range-slider input[type=range]::-moz-focus-outer {
    border: 0;
}

.house-card {
    width: 100%;
    max-width: 224px;
    background: var(--grey-color);
    display: grid;
    border-radius: 2em;
    margin: 0em 1em 2em 1em;
    box-shadow: 4px 4px 20px;
    overflow: hidden;
    transition: 0.5s;
}

.house-card:hover {
    box-shadow: 8px 8px 40px;
}

.house-card > img {
    object-fit: cover;
    height: 120px;
    width: 100%;
}

.house-card-text {
    width: 12em;
    margin: 1em;
}

.house-card-text > h2, h3, h4 {
    margin: 0em;
}

.house-card-text > h3, h4 {
    font-weight: normal;
}

.house-card-button {
    margin: 1em 4em;
}

/*************************************************/
/**************** Sign-in/up Page ****************/
/*************************************************/
.sign-form-card {
    width: 50em;
    background: var(--grey-color);
    display: grid;
    text-align: center;
    align-items: center;
    border-radius: 5em;
    overflow: hidden;
    margin: 2em auto;

    box-shadow: 2px 2px 20px;
}

.sign-form-card > header {
    background: url('../assets/images/home-page-bg.png');
    object-fit: cover;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2em 0em;
}

.sign-form-card > header img {
    width: 20em;
}

#signin-form {
    padding: 2em 10em;
    row-gap: 10px;
    display: grid;
}

#signup-form {
    padding: 2em 5em;
    row-gap: 10px;
    display: grid;
    grid-template-rows: [start] auto [line1] auto [line2] auto [end];
    grid-template-columns: [start] auto [line1] auto [end];
}

#signup-form > .blue-filled-rounded-button {
    margin: 0em 1em;
}

#signup-form > .input-form {
    margin: 0em 1em;
}


.sign-form-card > footer {
    padding: 1em 0em;
    text-align: center;
    vertical-align: top;
}

.sign-form-card > footer > p {
    text-align: right;
    padding: 0em 10em;
    margin: 0em;
}

/*************************************************/
/******************* User-Area *******************/
/*************************************************/
.profile-area {
    justify-content: center;
    display: grid;
    margin: 1em auto;
}

.profile-area > div {
    display: flex;
}

.profile-area > div aside {
    display: grid;
    align-self: start;
}

.profile-nav-bar {
    margin: 1em;
}

.profile-nav-bar > ul {
    padding: 0em;
    margin: 0em;
}

.profile-nav-bar > ul li {
    padding: 0.3em;
}

.profile-card {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profile-card-photo {
    width: 200px;
    height: 200px;
}

.profile-area-nav-button {
    border: 0px;
    padding-left: 4px;
    background-color: transparent;
    color: #000000;
    font-size: 16px;
    transition: 0.5s;
}

.profile-area-nav-button:hover {
    text-decoration: underline;
}

.profile-area-nav-button-selected {
    border-left: 3px solid var(--main-blue-color);
}

/* Form */
.profile-area-form {
    width: 50em;
    margin: 2em;
    grid-template-columns: [start] 50% [line1] 50% [end];
    display: grid;
    align-content: center;
    align-items: stretch;
    row-gap: 10px;
}

.profile-area-form > .input-form {
    margin: 0em 1em;
}

.profile-area-submit-button {
    grid-column-start: start;
    grid-column-end: end;
    margin: 0em 25% !important;
}

.profile-area-submit-button-2 {
    margin: 0em 1em;
}

/* My Houses */
#add-house-button {
    display: block;
    margin: 2em;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: var(--grey-color);
    justify-content: center;
    margin: 10% auto; /* 10% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

.modal-form {
    width: auto !important;
}

/* The Close Button */
.close {
    color: var(--main-blue-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: var(--focus-blue-color);
    text-decoration: none;
    cursor: pointer;
}

/* Rents */
.rent-card {
    display: grid;
    grid-template-columns: [start] 8em [line1] 16em [line2] 16em [line3] 16em [end];
    grid-template-rows: [start] 2em [line1] 2em [end];
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    padding: 2em 0em;
    border-bottom: 3px solid var(--main-blue-color);
}

.rent-card-photo {
    width: 100px;
    height: 100px;
    grid-column: 1;
    grid-row: 1/3;
}

.rent-card-information p {
    display: inline;
    margin: 0em;
}

.rent-card-total {
    grid-column: 4;
    grid-row: 1/3;
}

/* Messaging */
#user-area-messages {
    display: grid;
    grid-template-columns: [start] auto [line1] auto [end];
}

#message-address-list {
    max-height: 30em;
    overflow-y: scroll;
    margin: 1em;

}

.user-message-card {
    display: grid;
    justify-items: start;
    grid-template-columns: [start] 6em [line1] 12em [end];
    grid-template-rows: [start] auto [end];
    padding: 1em 0em;
    border-bottom: 3px solid var(--main-blue-color);
}

.user-message-card-photo {
    justify-self: center;
    width: 70px;
    height: 70px;
}

#message-chat-box {
    display: grid;
    margin: 1em;
    width: 30em;
}

#message-chat-box-view {
    height: 24em;
    max-height: 30em;
    overflow-y: scroll;
}

#message-send-form {
    display: grid;
    grid-template-columns: [start] auto [line1] 8em [end];
    grid-template-rows: [start] auto [end];
}

/*************************************************/
/******************* House-Area ******************/
/*************************************************/
#house-area {
    justify-content: center;
    display: grid;
    margin: 1em auto;
}

#house-description {
    grid-row: 3/5;
}

/*************************************************/
/****************** House-Rent *******************/
/*************************************************/
@media screen and (max-width: 60em) {
    #house-rent-container {
        grid-template-columns: [start] 50% [line1] 50% [end] !important;
        grid-row-gap: 2em;
    }
    
    .house-detail-card {
        grid-column: start/end;
        grid-row: start/1;
    }
}

#house-rent-container {
    align-items: start;
    justify-content: center;
    justify-items: center;
    display: grid;
    margin: 1em auto;
    max-width: 80em;
    width: 100%;
    grid-template-columns: [start] 20% [line1] 60% [line3] 20% [end];
}

.rent-house-card {
    width: 90%;
    background: var(--grey-color);
    display: grid;
    border-radius: 2em;
    box-shadow: 2px 2px 20px black;
    overflow: hidden;
    padding: 1em 0em;
}

.rent-house-card > form {
    justify-content: center;
    text-align: center;
    align-items: center;
    display: grid;
    row-gap: 10px;
}

.profile-card-contacts {
    display: grid;
    margin: 1em 0em;
}

.house-detail-card {
    width: 90%;
    background: var(--grey-color);
    display: grid;
    border-radius: 2em;
    box-shadow: 2px 2px 20px black;
    overflow: hidden;
    grid-template-columns: [start] 50% [line1] 50% [end];
    grid-template-rows: [start] auto [line1] auto [end];
}

.house-detail-card > img {
    width: 100%;
    align-self: start;
    grid-column: start/end;
    grid-row: start/1;
}

.house-detail-card > div {
    margin: 1em;
}

.house-rating-container {
    grid-column: start/end;
}

.house-detail-card h3 {
    font-size: 25px;
    margin-right: 25px;
}

.fa {
    font-size: 25px;
}

.checked {
    color: orange;
}

/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top: 10px;
}

.middle {
    float: left;
    width: 70%;
    margin-top: 10px;
}

/* Place text to the right */
.right {
    text-align: right;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

/* Individual bars */
.bar-5 {
    width: 50%;
    height: 18px;
    background-color: var(--main-blue-color);
}

.bar-4 {
    width: 30%;
    height: 18px;
    background-color: var(--main-blue-color);
}

.bar-3 {
    width: 10%;
    height: 18px;
    background-color: var(--main-blue-color);
}

.bar-2 {
    width: 5%;
    height: 18px;
    background-color: var(--main-blue-color);
}

.bar-1 {
    width: 15%;
    height: 18px;
    background-color: var(--main-blue-color);
}

