/** 
 * main stuff
 */
body {
    /* brandbook */
    --main-blue-color: #0b2c4f;
    --grey-color: #d9d9d9;

    /* background color */
    --background-color: #FFF;

    /* font */
    --font: 'Open Sans', sans-serif;

    font-family: var(--font);
    margin: 0em;
    background-color: var(--background-color);
}

/**
 * Generic
 */
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h1 {
    color: white;
    text-shadow: 2px 2px 10px #000000;
    font-size: 4em;
    margin: 0em;
    padding: 10px;
}

.rounded-photo-container {
    overflow: hidden;
    border-radius: 50%;
}

.rounded-photo-container > img {
    width: auto;
    height: 100%;
    margin-left: -33%;
}

/*************************************************/
/******************** Header *********************/
/*************************************************/
#main-header {
    justify-content: center;
    width: 100%;
    background: url('../assets/images/home-page-bg.png') 0 0 no-repeat;
    background-size: cover;
    overflow: hidden;

    display: grid;
}

#alternative-header {
    width: 100%;
    background: var(--main-blue-color);
    overflow: hidden;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

#alternative-header > img{
    width: 3em;
}

/**
 * Nav-bar
 */
 #home-nav-bar {
    padding: 0em;
}

#home-nav-bar ul {
    text-align: center;
    display: flex;
    padding: 0em;
    margin: 0em;
}

#home-nav-bar ul li {
    font-weight: 700;
    padding: 1em 1em;
    margin: 1em;
    color: white;
}

#home-nav-bar ul li a {
    color: white;
}

#signup-button {
    border-radius: 5em;
    border: 3px solid white;
}

.header-username {
    text-decoration: underline;
}

#logo-subtitle-container h2 {
    text-shadow: 2px 2px 10px #000000;
    padding: 4em 1em 4em 1em;
    color: white;
    margin: 0;
}

#logo {
    width: 10em;
    border-radius: 50%;
    box-shadow: 10px 10px 2em #000000;
}

#logo-section {
    display: flex;
    padding: 1em;
}

#logo-title-container {
    text-align: center;
}


#logo-subtitle-container {
    text-align: center;
    align-self: center;
    vertical-align: middle;
    max-width: 100%;
}

/*************************************************/
/******************** Footer *********************/
/*************************************************/
footer {
    width: 100%;
    overflow: hidden;
}

#footer-options-bar {
    background: var(--main-blue-color);
    display: flex;
    justify-content: center;
}

.row-footer-container {
    text-align: left;
    padding: 0em 2em;
}

.row-footer-container h2 {
    color: white;
    border-left: 3px solid white;
    padding: 0px 6px;
    margin: 1em 1em 1em 0em;
}

.footer-nav-bar ul {
    padding: 0em;
}

.footer-nav-bar a {
    color: white;
    font-weight: lighter;
}

.footer-nav-bar ul li {
    padding: 4px;
}

#footer-rights-bar {
    background: black;
    text-align: center;
    padding: 0.5em;
}

#footer-rights-bar p {
    font-weight: lighter;
    color: white;
    margin: 0em;
}

/*************************************************/
/******************* Main Page *******************/
/*************************************************/
/**
 * house body
 */
.houses-section-container {
    justify-content: center;
    display: grid;
    margin: 1em 0em;
}

.house-article-header {
    display: flex;
    justify-content: space-between;
}

.house-article-header > h2 {
    font-weight: normal;
    margin: 1em 0em;
}

.house-article-header > a {
    color: black;
    font-weight: normal;
    margin: 1em;
    text-align: center;
    padding: 1em;
    border-radius: 5em;
    border: 3px solid black;
}

.house-article-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em 0em;
    max-width: 1024px;
}

.house-card {
    width: 100%;
    max-width: 224px;
    background: var(--grey-color);
    display: grid;
    border-radius: 2em;
    margin: 1em 1em;
    box-shadow: 2px 2px 20px;
    overflow: hidden;
}

.house-card > img {
    object-fit: cover;
    height: 120px;
    width: 100%;
}

.house-card-text {
    width: 12em;
    margin: 1em;
}

.house-card-text > h2, h3, h4 {
    margin: 0em;
}

.house-card-text > h3, h4 {
    font-weight: normal;
}

.house-card-button {
    background-color: var(--main-blue-color);
    color:white;
    font-weight: bold;
    text-align: center;
    margin: 1em 4em;
    padding: 1em;
    border-radius: 5em;
}

/*************************************************/
/**************** Sign-in/up Page ****************/
/*************************************************/
.sign-form-card {
    width: 50em;
    background: var(--grey-color);
    display: grid;
    text-align: center;
    align-items: center;
    border-radius: 5em;
    overflow: hidden;
    margin: 2em auto;
    
    box-shadow: 2px 2px 20px;
}

.sign-form-card > header {  
    background: url('../assets/images/home-page-bg.png');
    object-fit: cover;
    justify-content: space-evenly;  
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2em 0em;
}

.sign-form-card > header img {
    width: 20em;
    border-radius: 50%;
    box-shadow: 10px 10px 2em #000000;
}

#signin-form {
    padding: 2em 10em;
    row-gap: 10px;
    display: grid;
}

#signup-form {
    padding: 2em 5em;
    row-gap: 10px;
    display: grid;
    grid-template-rows: [start] auto [line1] auto [line2] auto [end];
    grid-template-columns: [start] auto [line1] auto [end];
}

#signup-form > .input-form-button {
    margin: 0em 1em;
}

#signup-form > .input-form {
    margin: 0em 1em;
}

.input-form {
    background: transparent;
    border: 3px solid var(--main-blue-color);
    padding: 0.8em;
    border-radius: 5em;
}

.input-form-button {
    padding: 0.8em;
    border: 3px solid var(--main-blue-color);
    background: var(--main-blue-color);
    border-radius: 5em;
    color: white;
    font-weight: bolder;
}

.sign-form-card > footer {
    padding: 1em 0em;
    text-align: center;
    vertical-align: top;
}

.sign-form-card > footer > p {
    text-align: right;
    padding: 0em 10em;
    margin: 0em;
}

/*************************************************/
/******************* User-Area *******************/
/*************************************************/
#user-area {
    justify-content: center;
    display: grid;
    margin: 1em auto;
}

#user-area > header > h1 {
    font-size: 3em;
    margin: 0.6em 0em;
}

#user-area > div {
    display: flex;
}

#user-area > div aside {
    display: grid;
    align-self: start;
}

#user-nav-bar {
    margin: 1em;
}

#user-nav-bar > ul{
    padding: 0em;
    margin: 0em;
}

#user-nav-bar > ul li:nth-child(1) button{
    border-left: 3px solid var(--main-blue-color);
}

#user-nav-bar > ul li{
    padding: 0.3em;
}

#user-card {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.user-card-photo {
    width: 200px;
    height: 200px;
}

#user-area-form {
    row-gap: 10px;
    width: 50em;
    margin: 0em 2em;
    display: grid;
    align-content: center;
    grid-template-rows: [start] auto [line1] auto [line2] auto [end];
    grid-template-columns: [start] auto [line1] auto [end];
}

#user-area-form > .input-form-button {
    margin: 0em 1em;
}

#user-area-form > .input-form {
    margin: 0em 1em;
}

#user-area-submit-button {
    grid-column-start: start;
    grid-column-end: end;
    margin: 2em 25% 0em 25% !important;
}

/* Houses */
#user-area-houses {
    display: none;
}

/* Rents */
#user-area-rents {
    display: none;
}

.user-area-button {
    border: 0px;
    background-color: transparent;
    color: #000000;
    font-size: 16px;
}

.rent-card {
    display: grid;
    grid-template-columns: [start] 8em [line1] 16em [line2] 16em [line3] 16em [end];
    grid-template-rows: [start] 2em [line1] 2em [end];
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    padding: 2em 0em;
    border-bottom: 3px solid var(--main-blue-color);
}

.rent-card-photo {
    width: 100px;
    height: 100px;
    grid-column: 1;
    grid-row: 1/3;
}

.rent-card-information p {
    display: inline;
    margin: 0em;
}

.rent-card-total {
    grid-column: 4;
    grid-row: 1/3;
}

/* Messaging */
#user-area-messages {
    display: none;
}

#message-address-list {

}

#message-chat-box {
    
}
